{%- spaceless %}
    {% macro bytesToSize(bytes) %}
        {% spaceless %}
            {% set kilobyte = 1024 %}
            {% set megabyte = kilobyte * 1024 %}
            {% set gigabyte = megabyte * 1024 %}
            {% set terabyte = gigabyte * 1024 %}

            {% if bytes < kilobyte %}
                {{ bytes ~ ' B' }}
            {% elseif bytes < megabyte %}
                {{ (bytes / kilobyte)|number_format(2, '.') ~ ' KB' }}
            {% elseif bytes < gigabyte %}
                {{ (bytes / megabyte)|number_format(2, '.') ~ ' MB' }}
            {% elseif bytes < terabyte %}
                {{ (bytes / gigabyte)|number_format(2, '.') ~ ' GB' }}
            {% else %}
                {{ (bytes / terabyte)|number_format(2, '.') ~ ' TB' }}
            {% endif %}
        {% endspaceless %}
    {% endmacro %}

    {% macro table_row(head, data) %}
        <tr>
            {%- spaceless %}
                <th>{{ head }}</th>
                <td>{% if data is iterable %}
                        {% for k, v in data %}
                            {{ _self.table_row(k, v) }}
                        {% endfor %}
                    {% elseif head == 'used_memory' or head == 'free_memory' or head == 'wasted_memory' %}
                        {{ _self.bytesToSize(data) }}
                    {% elseif head == 'current_wasted_percentage'  %}
                        {{ data | number_format(2) ~ '%' }}
                        {% elseif head == 'start_time' %}
                    {% else %}
                        {{ data | yaml_encode }}
                    {% endif %}

                </td>
            {% endspaceless -%}
        </tr>
    {% endmacro %}
    {% import _self as table %}
{% endspaceless -%}
<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
    <link href="res/css/style.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.0.1/d3.v3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        var hidden = {};
        function toggleVisible(head, row) {
            if (!hidden[row]) {
                d3.selectAll(row).transition().style('display', 'none');
                hidden[row] = true;
                d3.select(head).transition().style('color', '#ccc');
            } else {
                d3.selectAll(row).transition().style('display');
                hidden[row] = false;
                d3.select(head).transition().style('color', '#000');
            }
        }
    </script>
    <title>{{ title }}</title>
</head>

<body>
<div>
    <h1>{{ title }}</h1>

    <div class="tabs">

        <div class="tab">
            <input type="radio" id="tab-status" name="tab-group-1" checked>
            <label for="tab-status">Status</label>
            <div class="content">
                <table>
                    {% for key, value in status_data_rows %}
                        {{ table.table_row(key, value) }}
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="tab">
            <input type="radio" id="tab-config" name="tab-group-1">
            <label for="tab-config">Configuration</label>
            <div class="content">
                <table>
                    {% for key, value in config_data_rows %}
                        {{ table.table_row(key, value) }}
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="tab">
            <input type="radio" id="tab-scripts" name="tab-group-1">
            <label for="tab-scripts">Scripts ({{ script_status_count }})</label>
            {% set id = 1 %}
            <div class="content">
                <table style="font-size:0.8em;">
                    <tr>
                        <th>Hits</th>
                        <th>Memory</th>
                        <th>Path</th>
                    </tr>
                    {% for dir, files in script_status_rows %}
                        {% set memory_consumption = 0 %}
                        {% for file in files %}
                            {% set memory_consumption = memory_consumption + file.memory_consumption %}
                        {% endfor %}
                        {% if files | length > 1 %}
                            <tr>
                                <th class="clickable" id="head-{{ id }}" colspan="3"
                                    onclick="toggleVisible('#head-{{ id }}', '#row-{{ loop.index }}')">{{ dir }}
                                    ({{ files | length }} file{% if files | length > 1 %}s{% endif %}
                                    , {{ table.bytesToSize(memory_consumption) }})
                                </th>
                            </tr>
                        {% endif %}
                        {% for file in files %}
                            <tr id="row-{{ id }}">
                                <td>{{ file.hits }}</td>
                                <td>{{ table.bytesToSize(file.memory_consumption) }}</td>
                                <td>{% if files | length > 1 %}{{ file.file }}{% else %}{{ dir ~'/'~ file.file }}{% endif %}</td>
                            </tr>
                            {% set id = id + 1 %}
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="tab">
            <input type="radio" id="tab-visualise" name="tab-group-1">
            <label for="tab-visualise">Visualise Partition</label>
            <div class="content"></div>
        </div>

    </div>

    <div id="graph">
        <form>
            <label><input type="radio" name="dataset" value="memory" checked> Memory</label>
            <label><input type="radio" name="dataset" value="keys"> Keys</label>
            <label><input type="radio" name="dataset" value="hits"> Hits</label>
            <label><input type="radio" name="dataset" value="restarts"> Restarts</label>
        </form>

        <div id="stats"></div>
    </div>
</div>

<div id="close-partition">&#10006; Close Visualisation</div>
<div id="partition"></div>

<script>
    var dataset = {{ graph_data_set_json | json_encode | raw }};
    var root = {{ d3_scripts | json_encode | raw }};
    var humanReadable = {{ {
        'human_used_memory': _self.bytesToSize(human_used_memory),
        'human_free_memory': _self.bytesToSize(human_free_memory),
        'human_wasted_memory': _self.bytesToSize(human_wasted_memory),
        'wasted_memory_percentage': _self.bytesToSize(wasted_memory_percentage),
    } | json_encode | raw }};
</script>
<script src="res/js/script.js" type="application/javascript"></script>
</body>
</html>
